/* *{
	margin: 0px;
	padding: 0px;
} */
body{
	background: aquamarine;
}
.inner-row{
	height: 100vh;
}
.form-box{
	box-shadow: 5px 5px 5px gray;
	background: rgb(255, 209, 123);
}
/* .form-box:hover{
	transform: scale(1.1);
} */
#signup-form,#forgetPassword-form{
	display: none;
}